# TeX
# -------------------------

## Core latex/pdflatex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents
*.dvi
*-converted-to.*

## Supplemental files
*.synctex.gz


# Editor files
# -------------------------

## Vim & Emacs temp files:
.*sw[op]
*~

## Atom latex plugin
.latex/


# OS junk files
# -------------------------

## macOS
*.DS_Store
